.example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  
  /*
   * This padding sets alignment of the nested nodes.
  
  .example-tree .mat-nested-tree-node div[role=group] {
    padding-left: 30px;
  }*/
  
  /*
   * Padding for leaf nodes.
   * Leaf nodes need to have padding so as to align with other non-leaf nodes
   * under the same parent.
   */
  .example-tree div[role=group] > .mat-tree-node {
    padding-left: 50px;
  }
  
  .example-tree div[role=group] > .mat-tree-node:hover, .no-icon-root:hover {
    background-color: rgba(63, 81, 181, 0.035);
    cursor: pointer;
  }
  
  .no-icon-root {
    padding-left: 40px;
    padding-right: 10px;
  }
  
  .mat-drawer-content {
    padding: 20px;
  }
  
  .mat-tree-node {
    min-width: 150px;
  }
  
  .mat-nested-tree-node > .mat-tree-node, .no-icon-root, .mat-nested-tree-node > div[role=group] {
    border-bottom: solid 1px rgba(63, 81, 181, 0.1);
  }
  
  .selected-node {
    background-color: rgba(63, 81, 181, 0.075);
    color: rgba(63, 81, 181, 1);
    text-decoration: underline;
  }
  
  .expanded-node {
    box-shadow: 0 3px 6px -2px gray;
  }