

<div style="background-color: rgba(0,0,0,0.02); height: 100%; overflow: auto;">
  <mat-toolbar color="primary">
    <div matRipple [matRippleCentered]="true" routerLink="home" class="iconName">
      <button mat-mini-fab style="background-color: white; color: #3f51b5; font-size: 15px; font-weight: 900;">ZB</button>
      <mat-label>Zachary Blase</mat-label>
    </div>
  
    <div style="display: flex; column-gap: 10px;" class="hideMobile">
      <button mat-button routerLink="home" routerLinkActive="selected" style="color: white;">About Me</button>
      <button mat-button routerLink="calendar" routerLinkActive="selected" style="color: white;">Calendar</button>
      <button mat-button routerLink="practice" routerLinkActive="selected" style="color: white;">Practice</button>
    </div>

    <div class="hideDesktop">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="home" routerLinkActive="selected">
          <span>About Me</span>
        </button>
        <button mat-menu-item routerLink="calendar" routerLinkActive="selected">
          <span>Calendar</span>
        </button>
        <button mat-menu-item routerLink="practice" routerLinkActive="selected">
          <span>Practice</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>
