<div [ngClass]="{ 'top-border': index > 6}"
    style="display: flex; flex-direction: column; background-color: white; height: 100%;">
  
  
    <div style="display: flex; align-items: center;">
      <div
        [ngClass]="{
          'blur-date': day.date.getMonth() !== now.getMonth(),
          'today-date': day.date.getDate() === now.getDate() && day.date.getMonth() === now.getMonth()
        }"
        style="display: flex; justify-content: center; align-items: center; padding: 5px; margin: 4px;">
        <label>{{ day.date.getDate() }}</label>
      </div>
  
      <label
        *ngIf="showDay"
        style="font-size: 14px; color: #767676; margin-top: 2px;"
        [ngClass]="{'blur-date': day.date.getMonth() !== now.getMonth()}">
          {{dayName}}
        </label>
    </div>
  
    <div class="time-column">
      <div
        *ngFor="let time of slots; let index = index;"
        [ngStyle]="{
          'grid-row': time.start + '/' + time.end,
          'border-top': time.time % 1 == 0 ? 'dashed 1px #eaeaea': ''
        }">
        <div [ngClass]="time.class" style="height: calc(100% - 2px);">
          <div *ngIf="time.class.includes('new-event')" style="display: flex; flex-direction: column; padding-left: 4px;">
            <label class="slot-title">New Event</label>
            <label class="slot-time">{{getSlotTime()}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>