.top-border {
    border-top: solid 1px #dedede;
}

.today-date {
    background-color: #3f51b5;
    border-radius: 50%;
    color: white;
    width: 19px;
    height: 19px;
}

.blur-date {
    opacity: 0.425;
}

.time-column {
    display: grid;
    grid-auto-rows: 1fr;
    flex: 1;
    margin-top: 17px;

    font-size: 10px;
}

.time-column > div {
    flex: 1;
}

/*.time-border {
    border-top: dashed 1px #eaeaea;
  }*/

.new-event {
    border-radius: 5px;
    background-color: rgba(63, 81, 181, 0.45);
    border: solid 1px rgba(63, 81, 181, 0.25);
}

.busy-event {
    border-radius: 5px;
    background-color: rgba(63, 81, 181, 0.75);
    background-image: url("../../../assets/BusyEventBackground-01.png");
    background-size: 100%;
    border: solid 1px rgba(63, 81, 181, 0.1);
}

.slot-title {
    font-weight: 600; 
    font-size: 13px;
}

.slot-time {
    font-size: 12px; 
    margin-top: -5px;
    white-space: nowrap;
}

@media(max-height: 1750px) {
    .slot-title {
        font-size: 11px;
    }
    .slot-time {
        font-size: 10px;
        margin-top: -8px;
    }
}