.calendar-grid {
    display: grid;
    column-gap: 1px;
  
  }
  
  .calendar-header {
    grid-template-columns: repeat(auto-fit, minmax(1px,1fr));
    margin-top: 14px;
    height: 30px;
  }
  
  .calendar-body {
    background-color: #dedede;
    flex: 1;
    /*border: 1px solid #d8d8d8;
    border-radius: 6px;
    overflow: hidden;*/
  }
  
  .grid-item {
    background-color: white;
  }
  
  .day-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #535353;
  }
  
  .time-column {
    display: flex;
    flex-direction: column;
    padding: 42px 4px 0px 4px;
  }

  .time-row > label {
    font-size: 11px;
    margin: -6px 0;
    height: 14px;
    white-space: nowrap;
  }
  
  .time-row {
    display: flex;
    flex: 1;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: 10px;
    color: #535353;
  }
  
  .time-button {
    flex: 1;
    padding-top: 2px;
  }

  .scheduleCard {
    display: flex; 
    flex-flow: column nowrap; 
    margin-top: 40px; 
    width: 380px;
  }

  .container {
    display: flex; 
    min-height: calc(100% - 64px); 
    padding: 20px; 
    box-sizing: border-box; 
    justify-content: flex-start; 
    align-content: flex-start; 
    gap: 40px;
  }
  
  ::ng-deep .mat-form-field {
    flex: 1;
  }
  
  
  ::ng-deep div .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: unset;
  }
  
  ::ng-deep .mat-button-toggle-button {
    height: inherit;
  }
  
  ::ng-deep .mat-button-toggle {
    height: 100%;
    background-color: white;
  }
  
  ::ng-deep .mat-button-toggle-checked {
    background-color: #3f51b5 !important;
    color: white !important;
  }
  
  ::ng-deep .mat-button-wrapper .mat-icon {
    font-size: 24px;
    height: 100%;
    width: 100%;
  }
  
  ::ng-deep .mat-stroked-button {
    line-height: 30px;
  
  }
  
  ::ng-deep .mat-chip-list-wrapper {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
  }
  
  ::ng-deep .mat-standard-chip {
    justify-content: space-between;
    text-overflow: ellipsis;
    overflow: hidden !important;
    white-space: nowrap;
  }
  
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-label {
    top: 2em;
    margin-top: unset;
  }
  
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 0.55em !important;
  }
  
  ::ng-deep .mat-select-arrow {
    margin-top: 10px !important;
  }
  
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 1.15em 0 0.85em 0;
  }
  
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
    padding: 0 !important;
  }
  
  ::ng-deep .mat-menu-content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  
  ::ng-deep .cdk-overlay-pane {
    transform: unset !important;
  }
  
  ::ng-deep .mat-stroked-button:disabled {
    border-color: rgba(0,0,0,.12)
  }